.App,
#root,
.wrapper {
  width: 100%;
  background-color: #ebeef3;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  background-color: #ebeef3;
  padding-bottom: 64px;
}

.appContainer {
  max-width: 938px;
  height: 100%;
  margin: 0 auto;
}

.appBody {
  padding-top: 114px;
}
